<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Finish the Lyrics!</title>
  <link rel="stylesheet" href="../static/css_and_js/style.css" type="text/css">
  </head>
  <body>
    <div>
      <header>
        <h1>Qui-Z</h1>
      </header>
    </div>
    <div class="dropdown">
      <div id="myDropdown" class="dropdown-content">
        <a href="../static/quizzes/quiz1.html">Iconic Songs</a>
        <a href="../static/quizzes/quiz2.html">Disney Songs</a>
        <a href="../static/quizzes/quiz3.html">TV Show Theme Songs</a>
     </div>
  </div>
  <p> Directions: Select missing lyrics to win game. </p>
  <div class='img'>
    <a href="../static/quizzes/quiz1.html">
      <img src="../static/images/Smooth_Criminal.jpg" alt="Play Iconic Songs Quiz" width="400" height="400" border="2px"/>
    </a>
    <a href="../static/quizzes/quiz1.html" class="next">Iconic Songs Quiz &raquo;</a>
    <p class="description"> Fill in the lyrics for a group of songs that span across the decades, and
    <div></div>
    <a href="../static/quizzes/quiz2.html">
      <img src="../static/images/disney.jpg" alt="Play Disney Songs Quiz" width="400" height="400" border="2px"/>
    </a>
    <a href="../static/quizzes/quiz2.html" class="next">Disney Songs Quiz &raquo;</a>
    <div></div>
    <a href="../static/quizzes/quiz3.html">
      <img src="../static/images/the_proud_family.jpeg" alt="Play Cartoon Theme Songs" width="400" height="400" border="2px"/>
    </a>
    <a href="../static/quizzes/quiz3.html" class="next">TV Show Theme Song Quiz &raquo;</a>
</div>
  <script src = "../static/css_and_js/script.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  </body>
</html>
